# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
.venv/

# Logs and temporary files
*.log
radio_responses.txt
radio_messages.json

# Editor/IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
